body{
  background-color: silver;
  margin: 0;
}

#root {
  margin: 0;
  text-align: center;
}

/* .container{
  margin:20px  auto;
  padding: 20px;
  border: 10px solid darkblue;
  border-radius: 20px;
  background-color: aquamarine;
  max-width: 70%;
  

} */



.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 50%;
  border-radius: 20px;
  border: 10px solid transparent;
  
  background:
    linear-gradient(white) padding-box,
    linear-gradient(135deg, darkblue, cyan, rgb(47, 120, 120)) border-box;
}


.table-container{
  width: 100%;
}



th{
  background-color: rgb(140, 253, 253);
  padding:10px;
}


td{
  background-color: lightcyan;
  padding: 10px;
}

